/*Resetear estilos*/
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

:root {
    --background-header: rgb(14, 124, 116);
    --background-footer: 084A46;
    --background-title: #F5CE85;
    --color-text: #FFFFFF;
    --color-text-title: #79774E;
    --font-display: 'Maiandra GD', sans-serif;
    --font-text: "Reddit Sans", sans-serif;
                                                
}
/**
body {
  background: linear-gradient(to left, lime 28px, red 77%, cyan);
}
*/
h1{
    font-family: var(--font-display);
}