    <!-- Footer -->
    <footer class="footer">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
            <!-- First column: Legal -->
                <div class="col-md-3 col-lg-3 col-xl-3 col-sm-6 mx-auto mb-4 text-center">
                <h6 class="fw-bold mb-3">Legal</h6>
                    <a class="white-link" href="https://drive.google.com/file/d/1w1LP6pI4ti8ALA4LPvMRq0b6W5LbZwkp/view?usp=drive_link"><small class="d-block text-link">Política de privacidad</small></a>
                    <a class="white-link" href="https://drive.google.com/file/d/17NjONfIyVQgdRGxwcLakiYnTrkOsX6zC/view?usp=sharing"><small  class="d-block">Términos y condiciones</small></a>
                    <a class="white-link" href="https://drive.google.com/file/d/17WBMc8WY_MKB8YM9wJnCusW6JJI6zYTN/view?usp=sharing"><small  class="d-block">Política de reembolso</small></a>   
                </div>

            <!-- Second column: Contacto -->
                <div class="col-md-3 col-lg-3 col-xl-3 col-sm-6 mx-auto mb-4 text-center">
                    <h6 class="fw-bold mb-3">Contacto</h6>
                    <small class="d-block">address@kootoncalli.com</small>
                    <small class="d-block">55 1234 5678</small>
                </div>

            <!-- Third column: Soporte -->
                <div class="col-md-3 col-lg-3 col-xl-3 col-sm-6 mx-auto mb-4 text-center">
                    <h6 class="fw-bold mb-3 link-document">Soporte</h6>
                    <a class="white-link" href="https://drive.google.com/file/d/1iV4FqmZaKfNcJdUkidfI4VlpW6esimHq/view?usp=sharing" ><small class="lh-lg">Preguntas frecuentes</small></a>
                    <div>
                        <span class="fw-semibold lh-1">Contact center</span>
                        <small class="d-block">01 800 347 5678</small>
                    </div>
                </div>

            <!-- Fourth column: Kóoton-calli -->
                <div class="col-md-3 col-lg-3 col-xl-3 col-sm-6 mx-auto mb-4 text-center">
                    <span id="title-footer" class=" mb-3">Kóoton-calli &copy;</span>
                    <h6 class="fw-bold mb-4">Redes sociales</h6>
                    <div class="social-icons">
                        <a href="https://www.tiktok.com/" class="social-icon" target="_blank">
                            <i class="fab fa-tiktok"></i>
                        </a>
                        <a href="https://www.facebook.com/" class="social-icon" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.instagram.com/" class="social-icon" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.facebook.com/" class="social-icon" target="_blank">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>