.contact--title {
    margin-top: 6.5rem;
    text-align: center;
    font-family: var(--font-display);
    color: var(--background-footer);
}

.contact--box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact--box--title {
    display: flex;
    flex-direction: column;
    font-family: var(--font-text);
    text-align: center;
    margin: 1rem 0rem 1rem 5rem;

}

.contact--box--input {
    width: 30rem;
    height: 2rem;
    border: 2px solid #E6C27F;
    border-radius: 0.5rem;
}

#contact--box--input--message {
    width: 50rem;
    height: 10rem;
}


.contact--div {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
}
.contact--div--button {
    background-color: var(--color-text-title);
    color: var(--color-text);
    font-family: var(--font-text);
    font-size: 24px;
    border-radius: 6px;
    border: none;
    padding: 10px 24px 10px 24px;
}

.contact--bottom--box {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 1rem 0rem 4rem 0rem;

}

.contact--last--box {
    width: 35rem;
    background-color: var(--color-text-title);
    color: var(--color-text);
    font-family: var(--font-text);
    font-size: 24px;
    border-radius: 6px;
    border: none;
    margin: 3rem 2rem 3rem;
    padding: 10px 24px 10px 24px;
}

.contact--logo {
        width: 18rem;
        height: auto;
    }

.contact--last--box--title {
    color: white;
    padding: 1rem 0rem 1rem 0.5rem;
    font-size: 2rem;
}

.contact--last--box--items {
    font-size: 1rem;
    padding-left: 4rem;
}


