.footer{
  padding-top: 0.1rem ;
  background-color: var(--background-footer);
  color: var(--color-text);
  font-family: var(--font-text);
}

.white-link, .social-icon{
        color: var(--color-text);
        text-decoration: none;
    }

.social-icon:hover {
        color: var(--color-hover) ;
    }

  .white-link:hover {
        color: var(--color-hover) ;
    }  

#title-footer{
  font-family: var(--font-display);
  font-size: xx-large;
}
