.text-wrapper{
  padding: 40px 0 0 40px;
  background-color: #F5CE85;
  display: flex;
  justify-content: center;
}

h2{
  font-family: var(--font-display);
  font-size: 58px;
  color: var(--color-text-title); 
}