:root {
    --background-header-desktop: linear-gradient(to right, #AAEBE6 10%, #0E7C74 35%, #084A46 100%);
    --background-header-tablet: linear-gradient(to right, #AAEBE6 20%, #0E7C74 60%, #084A46 100%);
    --background-footer: #084A46; 
}

.bg-gradient-custom{
        background: var(--background-header-desktop)
}

@media (max-width: 768px) {
    .bg-gradient-custom{
        background: var(--background-header-tablet)
    }
}