.card {
    border: 1px solid #545454;
}

.button__product {
background-color: #c1c0c0;
  color: #3b390f;
  border-color: #3b390f;
}
.button__product:hover {
    background-color: #979696;
}

.flex__container__product__list{
    margin-top: 4.5rem;
    background-color: #F5CE85;
    display: flex;
    justify-content: center;
    padding: 15px;
    color: #084A46;    
}


