.card {
    background-color: var(--card-background);
    border: var(--card-stroke);
}

.button__product {
background-color: var(--secondary-button-stroke-color-neutral);
border-color: var(--secondary-button-stroke-color-and-font);
}
.button__product:hover {
    background-color: #ACAB91;
}

.card-title{
    font-family: var(--font-text);
}

.flex__container__product__list {
    margin-top: 75px;
    background-color: #F5CE85;
    display: flex;
    justify-content: center;
    padding: 15px;
    color: #084A46;
    
}

.product-link {
    text-decoration: none;
}
