#subcategories {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 8%;
  height: 30%;
  padding: 1.5rem;
  background-color: var(--background-title);
  border-radius: var(--primary-button-round-corners);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.subcategory-image {
  /* height: ; */

}